/* header */
/* Permet de faire un reset des données de margin et padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cette section permet de créer le style du header. */
header {
    background-color: #E8C9A3; /* Change la couleur de fond du header en beige. */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Permet de créer une ombre sous le header. */
    padding: 15px 0;
    border-bottom-left-radius: 20px; /*Cela permet de placer un angle arrondi en bas à gauche.*/
    border-bottom-right-radius: 20px ; /*Cela permet de placer un angle arrondi en bas à droite.*/
    border-width: 50px;
    border: solid 3px; /*Cette partie permet de rendre la bordure affichable avec une valeur de 3 pixels.*/
    border-color: white ;
    
}

.nav-bar {
    display: flex;
    justify-content: space-around; /*Ce paramètre permet d'aligner les éléments sur l'axe horizontale avec le même espace entre chaque*/
    align-items: center; 
    max-width: 1200px;
    margin: 0 auto;
}

/* Cette section permet de créer le style des icones */
.nav-bar .icon {
    /* Permet de faire en sorte que les éléments soient modulables. */
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    padding-left: 30px;
    border: 2px solid #FFF; /* Bordure blanche autour de l'image */
    border-radius: 10px; /* Permet de créer des coins arrondis */
}

.nav-bar .icon img {
    height: 40px; /* Permet de paramètrer la taille des icones */
    cursor: pointer;
}

/* Effet de survol quand on passe la souris par dessus l'élément*/
.nav-bar .icon:hover {
    transform: scale(1.1); /* Zoom au survol */
}

/* Dans cette partie on modifie le style du logo */
.nav-bar .logo {
    display: flex;
    align-items: center;
    gap: 10px; /* Espace entre l'image et le texte */
}

.nav-bar .logo img {
    height: 50px;
}

.nav-bar .logo span {
    font-size: 16px;
    /* permet de mettre la police en gras */
    font-weight: bold;
    color: #fff;
}

/* barre de nav */

/* Partie accueil */
#accueil {
    text-align: center;
    padding: 20px;
}



#car_images {
/* Ce paramètre permet de le positionner les flèches correctement sur l'image */
    position: relative; 
    width: 600px;
    height: 400px;
    margin: 0 auto;
    /* Cela va permettre de cacher le surplus d'image */
    overflow: hidden;
    border-radius: 10px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* Cette partie consiste au fait de paramètrer la taille des images. */
.carousel img {
    width: 600px;
    height: 400px;
    object-fit: cover;
}

.nav-btn {
    position: absolute;
    top: 50%;
    /* Permet de se déplacer de -50% sur l'axe Y */
    transform: translateY(-50%); 
    color: white;
    border: none;
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
    /* Plus le z-index est élevé plus l'image sera positionnée au dessus des autres. */
    border-radius: 50%;
}
/* Cette partie sert à paramètrer la flèche "de retour" */
#prev { 
    background: none;
    left: 10px;
    color: #E8C9A3;
}
/* Cette partie sert à paramètrer la flèche "d'après" */
#next {
    background:none;
    right: 10px;
    color: #E8C9A3;
}


/* devis */

* {
  margin: 0;
}

#prix {
  color: #f7f4e9;
}
span {
  color: rgb(140, 0, 0);
  margin-left: 2vh;
}

button {
  background-color: #e7c79b;
}

.formulaire-devis {
  display: flex;
  flex-direction: column;
}

.devis {
  background-color: rgba(112, 151, 145, 1);
  border-radius: 5%;
  border: black;
  border-width: 18px;
}

img {
  display: flex;
  margin: auto;
  width: 178px;
  height: 58px;
}

#devis {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: rgba(247, 244, 233, 1);
}

label {
  font-weight: 600;
  font-size: 20px;
  color: #f7f4e9;
  margin-left: 2vh;
}

#dates {
  font-weight: 600;
  font-size: 20px;
  color: rgba(247, 244, 233, 1);
  text-align: left;
  margin-left: 2vh;
}

#budget {
  font-weight: 600;
  font-size: 20px;
  color: rgba(247, 244, 233, 1);
  text-align: left;
  margin-left: 2vh;
}

#confirm {
  margin-left: 2vh;
  border-radius: 20%;
}

li {
  color: rgba(247, 244, 233, 1);
  display: flex;
  flex-direction: column;
}

input {
  border: solid;
  border-color: white;
  border-radius: 5px;
  margin-left: 2vh;
  background-color: #e7c79b;
  color: black;
  max-width: 140px;
}

#mail {
  max-width: 170px;
}

#depart,
#retour {
  max-width: 105px;
}

input #budget {
  color: black;
}
.input-error {
  border: 2px solid red;
  background-color: #ffe6e6;
}

@media (min-width: 1024px) {
  img {
    display: flex;
    margin: auto;
  }
  #devis {
    font-weight: 600;
    font-size: 36px;
    text-align: left;
    margin-left: 2vh;
  }
  label {
    font-size: 35px;
    margin-left: 4vh;
  }
  input {
    margin-left: 4vh;
  }
  .droite {
    margin-top: -4%;
  }
  li {
    margin-top: 10%;
  }
  #dates {
    font-size: 36px;
    margin-left: 4vh;
  }
  .formulaire-devis {
    display: flex;
  }
  .devis-entier {
    display: flex;
    justify-content: space-evenly;
  }
  button {
    background-color: #e7c79b;
    font-size: 25px;
  }

  .bouton {
    display: flex;
    justify-content: center;
  }

  #prix {
    display: flex;
    color: #f7f4e9;
    font-size: 20px;
    justify-content: center;
  }
}

/* destinations phares */

/* galerie photo */

/* témoignages */

/* footer */
