/* pour toute la page, mets une couleur de fond, et retire les marges internes et externes de toute la page */
/* importe la police poppins et opensans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  color: #f7f4e9;
  font-weight: bolder;
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, label {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

p, li{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
/* header */
/* Permet de faire un reset des données de margin et padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cette section permet de créer le style du header. */
header {
  background-color: #e8c9a3; /* Change la couleur de fond du header en beige. */
  box-shadow: 0 4px 6px #00000033; /* Permet de créer une ombre sous le header. */
  padding: 15px 0;
  border-bottom-left-radius: 20px; /*Cela permet de placer un angle arrondi en bas à gauche.*/
  border-bottom-right-radius: 20px; /*Cela permet de placer un angle arrondi en bas à droite.*/
  border-width: 50px;
  border: solid 3px; /*Cette partie permet de rendre la bordure affichable avec une valeur de 3 pixels.*/
  border-color: white;
}

.nav-bar {
  display: flex;
  justify-content: space-around; /*Ce paramètre permet d'aligner les éléments sur l'axe horizontale avec le même espace entre chaque*/
  align-items: center;
  width: 1fr;
  margin: 0 auto;
}

/* Cette section permet de créer le style des icones */
.nav-bar .icon {
  /* Permet de faire en sorte que les éléments soient modulables. */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border: 2px solid #ffffff; /* Bordure blanche autour de l'image */
  border-radius: 10px; /* Permet de créer des coins arrondis */
}

.nav-bar .icon img {
  height: 20px; /* Permet de paramètrer la taille des icones */
  width: 20px;
  cursor: pointer;
}

.logo img{
  height: 10%;
}

/* Effet de survol quand on passe la souris par dessus l'élément*/
.nav-bar .icon:hover {
  transform: scale(1.1); /* Zoom au survol */
}

/* Dans cette partie on modifie le style du logo */
.nav-bar .logo {
  display: flex;
  align-items: center;
  gap: 10px; /* Espace entre l'image et le texte */
}

.nav-bar .logo img {
  height: 50px;
}

.nav-bar .logo span {
  font-size: 16px;
  /* permet de mettre la police en gras */
  font-weight: bold;
  color: #fff;
}

/* barre de nav */
/* Partie accueil */
#accueil {
  text-align: center;
  padding: 20px;
}

#accueil h1 {
  color: #709791;
}

#accueil h2 {
  color: #709791;;
}

#car_images {
  /* Ce paramètre permet de le positionner les flèches correctement sur l'image */
  position: relative;
  width: 400px;
  height: 200px;
  margin: 0 auto;
  /* Cela va permettre de cacher le surplus d'image */
  overflow: hidden;
  border-radius: 10px;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

/* Cette partie consiste au fait de paramètrer la taille des images. */
.carousel img {
  width: 400px;
  height: 200px;
  object-fit: cover;
}

.nav-btn {
  position: absolute;
  top: 50%;
  /* Permet de se déplacer de -50% sur l'axe Y */
  transform: translateY(-50%);
  color: white;
  border: none;
  font-size: 2em;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
  /* Plus le z-index est élevé plus l'image sera positionnée au dessus des autres. */
  border-radius: 50%;
}
/* Cette partie sert à paramètrer la flèche "de retour" */
#prev {
  background: none;
  left: 10px;
  color: #e8c9a3;
}
/* Cette partie sert à paramètrer la flèche "d'après" */
#next {
  background: none;
  right: 95px;
  color: #e8c9a3;
}

/* devis */
* {
  margin: 0;
}
.devis h2, h3{
  display: flex;
  justify-content: center;
}
#prix {
  color: #f7f4e9;
}
span {
  color: #8c0000;
  margin-left: 2vh;
}

.formulaire-devis {
  display: flex;
  flex-direction: column;
}

.devis {
  background-color: rgba(112, 151, 145, 1);
  border-radius: 5%;
  border: black;
  border-width: 18px;
}

img {
  display: flex;
  margin: auto;
  width: 178px;
  height: 58px;
}

#devis {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #f7f4e9;
}

label {
  font-weight: 600;
  font-size: 20px;
  color: #f7f4e9;
  margin-left: 2vh;
}

.dates {
  font-weight: 600;
  font-size: 20px;
  color: #f7f4e9;
  text-align: left;
  margin-left: 2vh;
}

#budget {
  font-weight: 600;
  font-size: 20px;
  color: #f7f4e9;
  text-align: left;
  margin-left: 2vh;
}

#confirm {
  margin-left: 2vh;
  border-radius: 20%;
}

li {
  color: rgba(247, 244, 233, 1);
  display: flex;
  flex-direction: column;
}

input {
  border: solid;
  border-color: #ffffff;
  border-radius: 5px;
  margin-left: 2vh;
  background-color: #e7c79b;
  color: black;
  max-width: 140px;
}

#mail {
  max-width: 170px;
}

#depart,
#retour {
  max-width: 105px;
}

input #budget {
  color: #000000;
}
.input-error {
  border: 2px solid red;
  background-color: #ffe6e6;
}

@media (min-width: 1024px) {
  img {
    display: flex;
    margin: auto;
  }
  #devis {
    font-weight: 600;
    font-size: 36px;
    text-align: left;
    margin-left: 2vh;
  }
  label {
    font-size: 35px;
    margin-left: 4vh;
  }
  input {
    margin-left: 4vh;
  }
  .droite {
    margin-top: -4%;
  }
  li {
    margin-top: 10%;
  }
  .dates {
    font-size: 36px;
    margin-left: 4vh;
  }
  .formulaire-devis {
    display: flex;
  }
  .devis-entier {
    display: flex;
    justify-content: space-evenly;
  }
  button {
    background-color: #e7c79b;
    font-size: 25px;
  }

  .bouton {
    display: flex;
    justify-content: center;
  }

  #prix {
    display: flex;
    color: #f7f4e9;
    font-size: 20px;
    justify-content: center;
  }
}

/* destinations phares */

.card {
  border: 10px solid #cccccc; /* Ajoute une bordure autour de chaque projet */
  padding: 10px; /* Un peu d'espace autour de chaque projet */
  box-sizing: border-box;
}

#cards {
  display: grid;
  grid-template-columns: repeat(4, 35%); /* Crée une grille avec 4 colonnes */
  gap: 10px; /* Ajoute un espace de 10px entre les cards */
}

/* crée les cards, avec une couleur de fond, en colonne avec les éléments centrés et une marge interne de 10 pixels */

#topDestinations {
  background-color: #e7c79b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

#topDestinations img {
  width: 100%;
  display: flex;
  margin: auto;
}

/* définit les règles css du bouton : une marge interne de 10px, pas de bordure visible, une bordure arrondie, une couelur de fond, et une marge externe automatique  */
#topDestinations button {
  padding: 10px;
  border: none;
  border-radius: 90px;
  background-color: #709791;
  display: flex;
  margin: auto;
}
/* centre le titres des destinations*/
#topDestinations h3 {
  display: flex;
  justify-content: center;
}
/* centre les descriptions des destinations et leur met une marge interne de 10px */
#topDestinations p {
  justify-content: center;
  padding: 10px;
}

/* Les images prendront toute la largeur de leur conteneur */

/* définit la taille des images à 10% de leur taille originelle. Sans ça, la couleur de fond ne s'étend pas sur toute la page */
.card img {
  height: 10%;
}

/* définit la durée totale du défilement et le nombre de fois que le carroussel va se répéter */
.card {
  float: left;
  animation: glissement 60s infinite;
}

/* à x% du temps, le carroussel se déplace à y% du carroussel, ce qui permet de faire un défilement. C'est l'équivalent de créer une fonction en JavaScript ou en Python */

@keyframes glissement {
  0% {
    transform: translateX(40%);
  }
  20% {
    transform: translateX(40%);
  }
  25% {
    transform: translateX(-36%);
  }
  45% {
    transform: translateX(-36%);
  }
  50% {
    transform: translateX(-100%);
  }
  70% {
    transform: translateX(-100%);
  }
  75% {
    transform: translateX(-150%);
  }
  95% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(40%);
  }
}

@media screen and (min-width: 1025px) {
  /* Les images prendront toute la largeur de leur conteneur */
  .card img {
    width: 100%;
    height: auto; /* Pour garder les proportions de l'image */
    display: flex;
  }
}
/* galerie photo */
.galerie {
  background-color: #709791;
  border-radius: 20px;
  padding: 20px 0px;
  margin-top: 50px;
}
.galerie h2 {
  color: #f7f4e9;
  display: flex;
  justify-content: center;
}
/* grid des photo immersive */
.photo {
  display: grid;
  gap: 5px;
  height: 60vh;
  justify-content: center;
  margin: 50px 0px;
  padding: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.photo img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* témoignages */

/* titre et nav poppins
texte courant Open Sans */
.temoignage {
  background-color: #e7c79b;
  border-radius: 20px;
  padding: 5px;
  margin-top: 50px;
  flex-direction: column;
}
.temoignage h2 {
  display: flex;
  justify-content: center;
}
/* mise en page des commantaires */
.commantaire {
  color: #2f2f2f;
}
.commentaire div {
  background-color: #f7f4e9;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.commentaire div div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.commentaire h3 {
  color: #000000;
}

.commentaire p {
  color: #000000;
}

.commentaire div h3{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* taille image */
.four_star {
  width: 100px;
  margin-right: 0;
}
.five_star {
  width: 100px;
  margin-right: 0;
}

.profil {
  border-radius: 100%;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
}
/* taille police des dates */
.date {
  font-size: small;
}
.temoignage {
  display: flex;
  justify-content: center;
}

/* footer */

footer {
  background-color: #709791;
  color: #f7f4e9;
  border-radius: 20px;
  margin-top: 50px;
  padding: 5%;
  
}

footer h2 {
  display: flex;
  justify-content: center;
  
}
.footer{
  padding: 5%;
  margin-bottom: 5%;
}

.footer a {
  text-decoration: none;
  color: #f7f4e9;
}

/* placement réseaux */

#reseau {
  display: flex;
  flex-direction: column;
}

#image {
  display: flex;
  flex-direction: column;
}

#image p {
  display: flex;
  align-items: center;
}

/* taille logo réseaux sociaux */

#insta {
  width: 50px;
  height: 50px;
}

#facebook {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 1024px) {
  .commantaire div {
    flex-direction: row;
  }

  .commentaire div div {
    width: 95%;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #left {
    display: flex;
    flex-direction: column;
  }

  #right {
    display: flex;
    flex-direction: column;
  }

  #credit {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-bar .icon img {
    height: 40px; /* Permet de paramètrer la taille des icones */
    width: 40px;
    cursor: pointer;
  }

  .photo {
    height: 50%;
    margin: 100px 0px;
    padding: 50px;
  }
  .commantaire div {
    flex-direction: row;
  }
  .commentaire div div {
    width: 95%;
  }
}

