/* header */


/* barre de nav */


/* partie accueil */


/* devis */


/* destinations phares */




/* galerie photo */
.galerie {
    background-color: #709791;
    border-radius: 20px;
    padding: 20px 0px;
}
.galerie h2{
    color: #f7f4e9;
    display: flex;
    justify-content: center;
    
}
/* grid des photo immersive */
.photo{
    display: grid;
    gap: 5px;
    height: 60vh;
    justify-content: center;
    margin: 50px 0px;
    padding: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.photo img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* version ordinateur */
@media screen and (min-width: 1024px){
    .photo {
        height: 50%;
        margin: 100px 0px;
        padding: 50px;
    }
}
/* témoignages */

/* titre et nav poppins
texte courant Open Sans */
.temoignage {
    background-color: #E7C79B;
    border-radius: 20px;
    padding: 5px;
    margin-top: 50px;
    
}
.temoignage h2{
    display: flex;
    justify-content: center;
    color: #f7f4e9;
}
/* mise en page des commantaires */
.commantaire{
    color: #2F2F2F;
}
.commentaire div{
    background-color: #f7f4e9;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}
.commentaire div div{
    width: 80%;
    display: flex;
    flex-direction: column;
}

h3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* taille image */
#four_star{

    width: 100px;
}
#five_star{

    width: 100px;
}


#profil{
    border-radius: 100%;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
}
/* taille police des dates */
#date{
    font-size: small;
}
@media screen and (min-width: 1024px){
    .commantaire div{
        flex-direction: row;
      
    }
    .commentaire div div{
        width: 95%;
    }
}
/* footer */
footer{
    margin: auto;
    background-color: #709791;
    color: #F7F4E9;
    border-radius: 20px;
    margin-top: 50px;
    padding: 20px;
    
}

footer h2{
    display: flex;
    justify-content: center;
}
.footer a{
    text-decoration: none;
    color: #F7F4E9;
}
/* placement réseaux */
#reseau {
    display: flex;
    flex-direction: column;
    
    
}
#image{
    display: flex;
    flex-direction: column;
}
#image p{
    display: flex;
    align-items: center;
    
}
/* taille logo réseaux sociaux */
#insta{
    width: 40px;
}
#facebook{
    width: 30px;
}
@media screen and (min-width: 1024px){
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #left {
        display: flex;
        flex-direction: column;
    }
    #right {
        display: flex;
        flex-direction: column;
    }
    #credit{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}